.CRBPMainDiv {
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.CRBPMainInnerDivs {
    height: 40px;
    margin: 1px 5px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CRBPMainInnerDivs label {
    width: 12%;
}

.CRBPMainInnerDivs strong {
    color: black;
    font-size: 16px;
    padding: 0px 0px 0px 10px;
}

.CRBPMainInnerDivs2 {
    height: 40px;
    margin: 1px 5px;
    width: 95%;
    display: flex;
    align-items: center;
}

.CRBPMainInnerDivs2 label {
    width: 12%;
    margin-left: 1.5%;
}

.CRBPMainInnerDivs2 strong {
    color: black;
    font-size: 16px;
    padding: 0px 0px 0px 10px;
}

.viewBtn{
    height: 45px;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: end;
    color: rgb(224, 224, 224) !important;
    position: relative;
    bottom: 7px;
    right: 18px;
}