.dropDown {
  height: 27px;
  width: 10%;
  margin-left: 80px;
}

/* label {
  font-weight: bold;
  font-size: 18px;
} */

.agent {
  font-weight: bold;
  font-size: 16px;
}

.startIplabel {
  margin-right: 68px;
  font-weight: bold;
  font-size: 16px;
}

.EndIplabel {
  margin-right: 74px;
  font-weight: bold;
  font-size: 16px;
}

.textField {
  width: 10%;
}

strong {
  font-weight: bolder;
  font-size: 25px;
  padding: 0 7px;
}

.searchBtn {
  color: white !important;
  font-size: 15px !important;
  margin-top: 40px !important;
  margin-left: 115px !important;
  width: 10% !important;
}

.divBtn {
  float: right;
  margin-bottom: 10px;
}

.wraplayout .formlabel{
  line-height: 26px;
  padding-left: 2px;
  display: block;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
}