/* Serveer Setting Css */
.ServerSettingheading {
    font-size: 33px !important;
    padding-left: 5px;
}

.ServerSettingDiv {
    height: 44px;
    width: 100%;
    margin: 8px 0px;
    display: flex;
    align-items: center;
}

.ServerSettingDiv p {
    padding-left: 1.8%;
    color: black;
    font-size: 17px;
    width: 30%;
}

.ServerSettingDiv a {
    color: black;
    font-size: 17px;
    width: 30%;
    padding-left: 10px;
}

.ServerSettingTextfield {
    width: 23%;
    height: 40px;
}

/* Tabs Css */
.ServerTab {
    padding: 0;
    height: 65px;
    list-style: none;
    align-items: center;
    display: flex;
}

ul.ServerTab li {
    width: 100%;
    padding-right: 12px;
}

ul.ServerTab li:last-child {
    padding: 0;
}

.ServerTab li a {
    padding: 17px 20px;
    color: #000;
    text-align: center;
    font-size: 20px;
    height: 100%;
    display: block;
}

.active {
    border-bottom: 2px solid #757575;
    color: #757575;
}

@media only screen and (max-width:1118px) {
    .ellipsis {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inherit !important;
    }

    ul.ServerTab li {
        width: 33.33%;
    }

    .ServerSettingheading {
        font-size: 26px !important;
        padding-left: 5px;
    }

    .ServerSettingDiv p {
        padding-left: 2%;
        color: black;
        font-size: 17px;
        width: 35%;
        min-width: 170px !important;
    }

    .ServerSettingTextfield {
        min-width: 105px;
        width: 30%;
    }
}

@media only screen and (max-width:500px) {
    .ellipsis {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inherit !important;
    }

    ul.ServerTab li {
        width: 33.33%;
    }

    .ServerTab li a {
        font-size: 15px;
        padding: 5px 3px;
        text-align: center;
    }

    .ServerSettingheading {
        padding-left: 5px;
        font-size: 18px !important;
    }

    .ServerSettingDiv p {
        padding-left: 2%;
        color: black;
        font-size: 16px;
        width: 40%;
        min-width: 145px !important;
    }

    .ServerSettingDiv a {
        padding-left: 2%;
        color: black;
        font-size: 16px;
        width: 40%;
        min-width: 145px !important;
    }

    .ServerSettingTextfield {
        min-width: 105px;
        width: 40% !important;
    }
}

/* SMPTSettings CSS */
.SMPTServerMainDiv {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.SMPTInnerDivs {
    height: 46px;
    width: 100%;
    align-items: center;
    display: flex;
}

.SMPTInnerDivs p {
    padding-left: 20px;
    color: #495057;
    margin: 0px;
    font-size: 17px;
    width: 25%;
}

.textfield {
    background-color: #f5f6f8;
}

.textfield input {
    color: #495057;
    height: 24px;
}

.passwordDiv {
    height: 45px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.passwordTextField {
    width: 45%;
    padding: 0px;
}

.passwordDiv button {
    width: 45%;
}

/* SystemErrorNotificationSetting Css */
.check-Box-main-div {
    height: 46px;
    width: 100%;
    align-items: center;
    display: flex;
}

.setHeightTextfield div input {
    height: 24px;
}

.check-Box-main-div p {
    padding-left: 20px;
    color: #495057;
    margin: 0px;
    font-size: 17px;
    width: 24.8%;
}

.checkboxDiv {
    width: 70%;
    display: flex;
}

.checkboxDiv p {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    min-width: 230px;
}

.SMPT-Btn {
    height: 90%;
}

/* Common Css */
.ButtonDiv {
    height: 60px !important;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: end;
    color: rgb(224, 224, 224) !important;
    position: relative;
    bottom: 7px;
    right: 18px;
}