/* Server Settings */
.ServerMainDiv {
    height: 320px;
    width: 100%;
    display: flex;
    align-items: center;
}

.ServerMainInnerDiv {
    height: 310px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ServerInnerDivs {
    align-items: center;
    display: flex;
    height: 40px;
    margin: 6px 0px;
    width: 100%;
}

.ServerInnerDivs strong {
    padding-left: 8px;
    color: black;
    font-size: 16px;
    width: 22%;
}

/* SMPTSettings CSS */
.SMPTServerMainDiv {
    height: 430px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.SMPTInnerDivs {
    height: 45px;
    width: 100%;
    align-items: center;
    display: flex;
    margin: 5px 0px;
}

.SMPTInnerDivs strong {
    padding-left: 8px;
    color: #495057;
    font-size: 16px;
    width: 28%;
}

.textfield {
    background-color: #f5f6f8;
}

.textfield input {
    color: #495057;
}

.passwordDiv {
    height: 45px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.passwordTextField {
    width: 45%;
    padding: 0px;
}

.passwordDiv button {
    width: 45%;
}

/* SystemErrorNotificationSetting Css */
.CheckBoxServerMainDiv {
    height: 230px;
    width: 100%;
    display: flex;
    align-items: center;
}

.checkBoxServerMainInnerDiv {
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.checkBoxServerInnerDivs {
    display: flex;
    height: 100%;
    width: 22%;
}

.checkBoxServerInnerDivs strong {
    padding-left: 8px;
    color: black;
    margin-top: 5px;
    font-size: 16px;
    width: 100%;
}

.checkboxDiv {
    height: 100%;
    width: 78%;
    padding: 0px 10px 0px 0px;
}

.checkboxDiv strong {
    padding-left: 8px;
    color: black;
    font-size: 16px;
    width: 22%;
}