/* Server Settings */
.ServerMainDiv {
    height: 320px;
    width: 100%;
    display: flex;
    align-items: center;
}

.ServerMainInnerDiv {
    height: 310px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ServerInnerDivs {
    align-items: center;
    display: flex;
    height: 40px;
    margin: 6px 0px;
    width: 100%;
}

.ServerInnerDivs strong {
    padding-left: 8px;
    color: black;
    font-size: 16px;
    width: 22%;
}

/* SMPTSettings CSS */
.RightDiv {
    height: 100%;
    width: 46%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.SMPTRightDivButton{
    height: 100%;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: end;
    color: rgb(224, 224, 224) !important;
}

.RightDivTextLeft {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}

.RightDiv label {
    padding: 4.2px 25px 4.2px 5px;
    border-radius: 3px;
    border: 1px solid gray;
}

/* .RightDivButton {
    height: 100%;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: end;
    color: rgb(224, 224, 224) !important;
} */

/* SystemErrorNotificationSetting Css */
.CheckBoxServerMainDiv {
    height: 230px;
    width: 100%;
    display: flex;
    align-items: center;
}

.checkBoxServerMainInnerDiv {
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.checkBoxServerInnerDivs {
    display: flex;
    height: 100%;
    width: 22%;
}

.checkBoxServerInnerDivs strong {
    padding-left: 8px;
    color: black;
    margin-top: 5px;
    font-size: 16px;
    width: 100%;
}

.checkboxDiv {
    height: 100%;
    width: 82%;
    padding: 0px 10px 0px 0px;
}

.checkboxDiv strong {
    padding-left: 8px;
    color: black;
    font-size: 16px;
    width: 22%;
}