.AgentTabBtn {
    padding: 0;
    list-style: none;
    display: flex;
}

ul.AgentTabBtn li {
    width: 100%;
    padding-right: 12px;
}

ul.AgentTabBtn li:last-child {
    padding: 0;
}

.AgentTabBtn li a {
    padding: 8px 20px;
    color: #000;
    text-align: center;
    font-size: 17px;
    display: block;
}

.active {
    border-bottom: 2px solid #757575;
    color: #757575;
}

.pauseBtn {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: #e0e0e0 !important;
}

.deleteBtn {
    color: #fff !important;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    background-color: #f44336 !important;
}

.AgentTextRight div input {
    text-align: right !important;
}

.AgentTextRight input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.AgentTextRight input[type=number] {
    -moz-appearance: textfield;
}

.AgentTextField div input {
    padding: 12.5px 5px;
}

/* AssignGroup Css */
.divideParentDiv {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.divideDiv2 {
    height: 310px;
    width: 56%;
    margin: 5px 5px;
}

.divideDiv1 {
    height: 310px;
    width: 39%;
    margin: 5px 5px;
}

.innerDivs {
    height: 48px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    width: 96%;
    margin-left: 25px;
}

.innerDivs p {
    color: #495057;
    font-size: 17px;
    font-weight: 600;
    width: 65%;
}

.TextNameDesignName {
    color: black;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    width: 16.2%;
    border-right: 2px solid rgb(15, 15, 15);
}

.TextNameDesignIP {
    color: black;
    font-size: 18px;
    text-align: center;
    width: 16.2%;
    font-weight: bold;
    border-right: 2px solid rgb(15, 15, 15);
}

.TextNameDesignHostName {
    padding-left: 15px;
    color: black;
    font-size: 18px;
    width: 50%;
    font-weight: bold;
}

.AgentAddDiv {
    width: 38%;
    height: 40px;
    letter-spacing: 1px;
    color: #fff !important;
}

.AgentDeleteDiv {
    width: 60%;
    height: 40px;
    background-color: #f44336 !important;
    color: #fff !important;
}

/* New Css */
.agent-table-main-area {
    margin-top: 12px;
}

.agent-table-main-area table {
    width: 100%;
    border: 1px solid #cdcdcd;
    border-collapse: collapse;
}

.agent-table-main-area table tr th {
    border: 1px solid #cdcdcd;
    text-align: left;
    padding: 10px;
    font-size: 18px;
    height: 45px;
    background: #e8e7e7;
}

.agent-table-main-area table tr td {
    border: 1px solid #cdcdcd7a;
    padding: 14px;
    font-weight: 600;
    font-size: 15px;
}

.ip-border-main-area {
    position: relative;
}

.SecondDiv table tr td {
    padding-top: 6px;
    padding-bottom: 6px;
}

.ip-border-main-area-2:before {
    content: "";
    position: absolute;
    bottom: 5px;
    width: 2px;
    height: 32px;
    background: #000;
    left: 0;
}

.btntd {
    display: flex;
    justify-content: center;
    border: none !important;
}

/* Pop Up Css DepartmentSearch */
.MainTreeDiv {
    font-size: 18px;
    display: flex;
}