.Btn-Color {
    background-color: #007bff !important;
    color: #fff !important;
}

.Btn-Color:hover {
    background-color: #0069d9 !important;
}

.Text-Color {
    color: #007bff !important;
}

.Text-Color:hover {
    color: #0056b3 !important;
}

.Icon-Color {
    color: rgba(0, 0, 0, 0.38) !important;
}

.Add-Btn {
    color: #007bff !important;
}

.Add-Btn:hover {
    color: #0069d9 !important;
}

.Logout-Color {
    color: #007bff !important;
    background-color: #ffffff !important;
}

.Logout-Color:hover {
    color: #0056b3 !important;
    background-color: #ffffff !important;
}

.Test-Color {
    background-color: #153259 !important;
    color: #fff !important;
}

.Test-Color:hover {
    background-color: #001d44 !important;
}

.setPadding div input {
    padding: 14px;
}