.mainDivLicense {
  height: 500px;
  width: 65%;
  padding: 18px;
}

.StatusDiv {
  height: 35px;
  align-items: center;
  display: flex;
  width: 100%;
}

.StatusTextfield {
  width: 100%;
}

.return {
  color: #007bff;
  width: 12%;
  color: white;
  margin-left: 52px !important;
}

.Applicationkey {
  margin-top: 24px;
  height: 35px;
  align-items: center;
  display: flex;
  width: 100%;
}

.TextfieldDiv {
  height: 35px;
  margin-top: 24px;
  align-items: center;
  display: flex;
  width: 100%;
}

.Textfield {
  width: 100%;
}

.BtnDiv {
  margin-top: 24px;
  width: 55%;
  justify-content: end;
  display: flex;
}

/* Import Key PopUp Css */
.keypopUpDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  width: 100%;
  height: 100%;
  z-index: 1212;
  display: inline-flex;
}

.keypopUpInnerDiv {
  height: auto;
  width: 45%;
  background-color: #fff;
  border-radius: 10px;
  margin: 70px auto;
  padding: 20px 0px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
}

.keypopUpHeading {
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-left: 19px !important;
  width: 90% !important;
  color: rgba(0, 0, 0, 0.87);
  padding: 10px 10px 10px 15px;
  justify-content: space-between;
  font-size: 32px;
  font-weight: 500;
  position: relative;
}

.importButtonDivalign {
  justify-content: right;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 19px !important;
  width: 90% !important;
}

.keypopUpcross {
  height: 26px;
  display: flex;
  width: 24px;
  color: #757575;
}

.inputKey {
  margin-top: 25px;
  padding: 0 10px;
  height: 50px;
  width: 100%;
}

.keyTextfield {
  margin-left: 19px !important;
  width: 90% !important;
}

.inputKeybtn {
  margin-top: 15px;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: right;
  padding-right: 24px;
}

.keybtnpopup {
  margin-right: 10px !important;
  margin-left: 10px !important;
  width: 20% !important;
}

/* Deletekey Popup Css */
.DeleteKeyUpperDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.DeleteKeyIconDIv {
  height: 130px;
  width: 26%;
  border-radius: 50px;
}

.textDiv {
  height: 35px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.textDiv h5 {
  margin: 0px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 26px;
}

.textDivp {
  height: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.textDivp p {
  margin: 0px;
  font-size: 16px;
  color: rgb(54, 53, 53);
}

.DeleteKeyBtndiv {
  justify-content: center;
  height: 30px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  margin-left: 19px !important;
  width: 90% !important;
}

.DeleteKeyBtn {
  margin-right: 20px !important;
  margin-left: 20px !important;
  width: 25% !important;
  color: black !important;
  font-weight: bold !important;
}

.statusandapplicationInput {
  display: flex;
}

.statusandappTextfield {
  width: 100%;
}

.statusandappBtn button {
  width: 120px;
  height: 39px;
}

.margnTop {
  margin-top: 18px !important;
}

.createBtnHeight {
  height: 60px;
}
