.mainDivLicense {
    height: auto;
    width: 100%;
    /* background-color: rgb(233, 237, 237); */
}

.StatusDiv {
    height: 35px;
    align-items: center;
    display: flex;
    width: 100%;
}

.Status {
    width: 30%;
    margin-left: 20px;
    font-weight: 500;   
    font-size: 20px;
    color: black;
}

.StatusTextfield {
    width: 50%;
}

.StatusTextfield .MuiOutlinedInput-inputMarginDense {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.return {
    color: #007bff;
    width: 10%;
    margin-left: 53px !important;
}

.Applicationkey {
    margin-top: 15px;
    height: 35px;
    align-items: center;
    display: flex;
    width: 100%;
}

.ExpireDateDiv {
    height: 35px;
    margin-top: 15px;
    align-items: center;
    display: flex;
    width: 100%;
}

.ExpireDateTextfield {
    width: 65%;
}

.ExpireDateTextfield .MuiOutlinedInput-inputMarginDense {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}