/* Client Css */
.clientMainDiv {
    height: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.clientInnerDiv {
    height: 40px;
    width: 55%;
    display: flex;
    align-items: center;
}

.clientInnerDiv strong {
    color: black;
    font-size: 19px;
    padding: 0px 10px;
}

.otherDiv {
    height: 30px;
    display: flex;
    width: 55%;
    padding-left: 10px;
    align-items: center;
}