.tabBtn {
  padding: 0;
  list-style: none;
  display: flex;
}

ul.tabBtn li {
  width: 100%;
  padding-right: 12px;
}

ul.tabBtn li:last-child {
  padding: 0;
}

.tabBtn li a {
  padding: 8px 20px;
  color: #000;
  text-align: center;
  font-size: 17px;
  display: block;
}

.active {
  border-bottom: 2px solid #757575;
  color: #757575;
}

/* Department Css */
.DepartMainDiv {
  height: auto;
  width: 100%;
  display: flex;
}

.DepartField {
  display: flex;
  align-items: center;

  height: auto;
  width: 50%;
}

.commonTextPadding {
  font-size: 17px;
  padding-left: 12px;
  color: black;
}

.DepartButtons {
  height: auto;
  width: 50%;
  display: flex;
  justify-content: end;
}

.AddBtn {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.ExportBtn {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.DeleteBtn {
  border-radius: 0px !important;
}

.ImportBtn {
  border-radius: 0px !important;
}

.btn {
  width: 15%;
  margin: 1px !important;
  background-color: #757575 !important;
}

.btn:hover {
  background-color: rgb(4, 54, 107) !important;
  color: white;
}

@media only screen and (max-width:870px) {
  .DepartMainDiv {
    display: inherit;
    width: 100%;
  }

  .DepartField {
    width: 100%;
  }

  .DepartButtons {
    margin-top: 2px;
    width: 100%;
    justify-content: center;
  }

  .commonTextPadding {
    padding: 3px;
    margin-left: 2%;
    font-size: 15px;
  }

  .btn{
    width: 25%;
  }
}

/* Add Css */
.setWidth {
  height: 100%;
  max-width: 550px !important;
  width: 100%;
}

.AddCustomLabel {
  font-size: 16px;
  padding-left: 2px;
}

/* Tree Css */
.accordianList {
  padding-right: 30px;
  padding-bottom: 20px;
}

.accordianList .menList {
  list-style: none;
  display: block;
}

.accordianList .menList li a {
  padding: 5px 20px;
  border: 1px solid #aaa;
  display: block;
  margin: 4px 0;
  border-radius: 3px;
}

.hideList {
  display: none;
}

s .accordianList .menList li ul {
  list-style: none;
}