.tabBtn {
  padding: 0;
  list-style: none;
  display: flex;
}

ul.tabBtn li {
  width: 100%;
  padding-right: 12px;
}

ul.tabBtn li:last-child {
  padding: 0;
}

.tabBtn li a {
  padding: 8px 20px;
  color: #000;
  text-align: center;
  font-size: 17px;
  display: block;
}

.active {
  border-bottom: 2px solid #757575;
  color: #757575;
}

.tabDepartment {
  width: 100%;
}

.tabTree {
  width: 100%;
  color: white;
}

.topDivDepartment {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
}

.departmentTextfield {
  width: 18%;
  padding-left: 8px !important;
}

.departmentTextfield .MuiOutlinedInput-inputMarginDense {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.DepartmentBtnDiv {
  height: 90%;
  width: 21%;
}

.AddBtn {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.ExportBtn {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.DeleteBtn {
  border-radius: 0px !important;
}

.ImportBtn {
  border-radius: 0px !important;
}

.btn {
  width: 9%;
  margin: 1px !important;
  background-color: #757575 !important;
}

.btn:hover {
  background-color: rgb(4, 54, 107) !important;
  color: white;
}

/* Add Css */
.AddMainDiv {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  width: 100.2%;
  height: 100%;
  z-index: 1212;
  display: inline-flex;
}

.AddInnerDiv {
  margin: 33px auto;
  height: 89%;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
}

.AddCustomLabel {
  font-size: 16px;
  padding-left: 2px;
}

/* Tree Css */
.accordianList {
  padding-right: 30px;
  padding-bottom: 20px;
}

.accordianList .menList {
  list-style: none;
  display: block;
}

.accordianList .menList li a {
  padding: 5px 20px;
  border: 1px solid #aaa;
  display: block;
  margin: 4px 0;
  border-radius: 3px;
}

.hideList {
  display: none;
}
s
.accordianList .menList li ul {
  list-style: none;
}