.tabBtn {
  padding: 0;
  list-style: none;
  display: flex;
}

ul.tabBtn li {
  width: 100%;
  padding-right: 12px;
}

ul.tabBtn li:last-child {
  padding: 0;
}

.tabBtn li a {
  padding: 8px 20px;
  color: #000;
  text-align: center;
  font-size: 17px;
  display: block;
}

.tabBtn li.active a {
  border-bottom: 2px solid #757575;
  color: #757575;
}

.tabDepartment {
  width: 100%;
}

.tabTree {
  width: 100%;
  color: white;
}

.topDivDepartment {
  display: flex;
  align-items: center;
  height: 40px;
  width: 100%;
}

.departmentTextfield {
  width: 18%;
  padding-left: 8px !important;
}

.departmentTextfield .MuiOutlinedInput-inputMarginDense {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.DepartmentBtnDiv {
  height: 90%;
  width: 21%;
}

.AddBtn {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.ExportBtn {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.DeleteBtn {
  border-radius: 0px !important;
}

.ImportBtn {
  border-radius: 0px !important;
}

.btn {
  width: 9%;
  margin: 1px !important;
  background-color: #757575 !important;
}

.btn:hover {
  background-color: rgb(4, 54, 107) !important;
  color: white;
}

/* Add Css */
.AddMainDiv {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  width: 100%;
  height: 100%;
  z-index: 1212;
  display: inline-flex;
}

.AddInnerDiv {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 53%;
  position: relative;
}

.Heading {
  height: 65px;
  margin: 0px;
  padding-left: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #757575;
  font-size: 32px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}

.AddcrossHeading {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 20px;
  border-radius: 3px;
  display: flex;
  color: rgb(0, 98, 204);
  justify-content: center;
  align-items: center;
}

.AddDepartmentDiv {
  margin-top: 25px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AddDepartmentName {
  font-size: 18px;
}

.AddDepartmentTextfield {
  margin-left: 30px !important;
  width: 73%;
}

.AdddropDown {
  margin-left: 30px !important;
  width: 73%;
}

.AdddropDown .MuiOutlinedInput-input {
  padding: 11px 14px;
}

.AddRemark {
  margin-top: 10px;
  font-size: 20px;
}

.AddTextarea {
  margin-left: 105px !important;
  height: 100px;
  width: 73%;
  margin-top: 5px;
  border-radius: 5px;
}

.AddRemarkDiv {
  margin-top: 25px;
  height: 140px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.AddButtonDiv {
  margin-top: 10px;
  width: 100%;
  text-align: right;
}

.Addpagebtn {
  margin-left: 25px !important;
  background-color: #757575 !important;
  width: 15% !important;
}

.Addpagebtn:hover {
  background-color: rgb(4, 54, 107) !important;
  color: white;
}

/* Tree Css */
.accordianList {
  padding-right: 30px;
  padding-bottom: 20px;
}

.accordianList .menList {
  list-style: none;
  display: block;
}

.accordianList .menList li a {
  padding: 5px 20px;
  border: 1px solid #aaa;
  display: block;
  margin: 4px 0;
  border-radius: 3px;
}

.hideList {
  display: none;
}

.accordianList .menList li ul {
  list-style: none;
}
