.dropDown {
  height: 27px;
  width: 10%;
}

strong {
  color: red;
}

.endIp .MuiInputBase-formControl .MuiOutlinedInput-notchedOutline {
  border: 1px solid #35b803;
}

.endIp .MuiInputBase-formControl .MuiOutlinedInput-notchedOutline:focus {
  border: 1px solid #35b803 !important;
  outline: #35b803 !important;
  color: #35b803 !important;
}
.agent {
  width: 165px;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
}

.startIplabel {
  width: 158px;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 33px;
}

.EndIplabel {
  display: inline-block;
  width: 158px;
  font-weight: bold;
  font-size: 16px;
  line-height: 33px;
}

.MuiFormHelperText-contained {
  margin-left: 3px !important;
}

.textField {
  width: 28%;
  margin-left: 8px !important;
}

.searchBtn {
  color: white !important;
  font-size: 15px !important;
  margin-top: 20px !important;
  margin-left: 165px !important;
  width: 10% !important;
}

.divBtn {
  float: right;
  margin-bottom: 10px;
}

.wraplayout .formlabel {
  line-height: 26px;
  padding-left: 2px;
  display: block;
  margin-top: 5px;
  font-size: 15px;
  font-weight: bold;
}
